<a href="https://colab.research.google.com/github/Denko/PYTH225/blob/master/Copy_of_lists_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/lists_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST_OPS

### P1.PY

In [0]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.

animals = ['elephant','tiger','otter','orangutan','penguin']

# Print the 4th animal on the list.

print(animals[3])

# Add 'tortoise' to the beginning of the list.

animals.insert(0,'tortoise')
print(animals)

# Print the length of the list.

print(len(animals))

# Remove 'orangutan' from the list.

animals.pop(4)
print(animals) 

# Sort the list alphabetically and print it out.

animals.sort()
print(animals)

orangutan
['tortoise', 'elephant', 'tiger', 'otter', 'orangutan', 'penguin']
6
['tortoise', 'elephant', 'tiger', 'otter', 'penguin']
['elephant', 'otter', 'penguin', 'tiger', 'tortoise']



### P2.PY

In [0]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = ['Birgit','Cathy','Jessica','Andrea','Patricia']
print(names)
print(len(names))

# Print the 3rd name on the list
print(names[2])

# Delete the first name on the list
names.pop(0)
print(names)

# Re-add the name you deleted to the end of the list
names.append('Birgit')
print(names)

# Replace the 2nd name on the list with a new name.
names[1] = 'Judy'
print(names)

# Add 3 new names to the end of the list.
names.extend(['Sylvia','Stephanie','Justine'])
print(names)

['Birgit', 'Cathy', 'Jessica', 'Andrea', 'Patricia']
5
Jessica
['Cathy', 'Jessica', 'Andrea', 'Patricia']
['Cathy', 'Jessica', 'Andrea', 'Patricia', 'Birgit']
['Cathy', 'Judy', 'Andrea', 'Patricia', 'Birgit']
['Cathy', 'Judy', 'Andrea', 'Patricia', 'Birgit', 'Sylvia', 'Stephanie', 'Justine']



### P3.PY

In [0]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.
numbers = ['2','4','6','8']
print(numbers)

# Print the max of `numbers`
for i in range(0, len(numbers)):
  numbers[i] = int(numbers[i])
print(max(numbers))

# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.

last_element = numbers[-1]
print(last_element)
numbers.insert(2,last_element)
print(numbers)
numbers.pop(-1)
print(numbers)

# Pop the second number in `numbers` off.
numbers.pop(1)
print(numbers)

# Append `3` to `numbers`.
numbers.append('3')
print(numbers)

# Print out the average number.
for i in range(0, len(numbers)):
  numbers[i] = int(numbers[i])
print(sum(numbers)/len(numbers))

['2', '4', '6', '8']
8
8
[2, 4, 8, 6, 8]
[2, 4, 8, 6]
[2, 8, 6]
[2, 8, 6, '3']
4.75



## SORTING

### P1.PY

In [0]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.

print(playlist_titles)
print(sorted(playlist_titles))

# Now do the reverse.

print(sorted(playlist_titles,reverse=True))

['Tiny Dancer', 'At Last', 'Fortunate Son', 'Hey Jude', "Isn't She Lovely", 'Just the Way You Are', "I'm Yours", 'Vienna', 'Roxanne', 'Dancing in the Moonlight']
['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [0]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.

import random
res = [random.randrange(1, 50, 1) for i in range(6)] 
print(res)
print(sorted(res,reverse=True))

[24, 44, 28, 14, 45, 49]
[49, 45, 44, 28, 24, 14]



## LIST_MANIPULATION

### P1.PY

In [0]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)


cell = '1.192.168.0143'
print(int(cell.replace('.', '')))

11921680143



### P2.PY

In [0]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum = 
	# my_min = 
	# my_max = 
	# my_range = 
	# my_mean =

nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]


# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

my_sum = sum(nums)
my_min = min(nums)
my_max = max(nums)
my_range = my_max - my_min
my_mean = my_sum / len(nums)

print(my_sum)
print(my_min)
print(my_max)
print(my_range)
print(my_mean)

174
2
30
28
17.4
10



### P3.PY

In [0]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]
print(list1)

# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = None

list1.insert(1, 2)
list1.insert(3,8)
list1.insert(5,6)
list3 = list1
print(list3)

# B) Combine the two given lists and assign them to list4.
list4 = None
list4 = list1 + list2
print(list4)

# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
# list3[:2] = None
list3[0:3] = [13,16,9]
# list3[1] = 16
# list3[2] = 9
print(list3)


# # D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = None
print(list5)
list5 = list3 + list4
print(list5)
for item in list5:
  if list5.count(item) > 1:
    list5.pop(item)
print(list5)
for item in list5:
  if list5.count(item) > 1:
    list5.pop(item)
print(list5)
for item in list5:
  if list5.count(item) > 1:
    list5.pop(item)
print(list5)


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

[2, 8, 6]
[2, 2, 8, 8, 6, 6]
[2, 2, 8, 8, 6, 6, 10, 4, 12]
[13, 16, 9, 8, 6, 6]
None
[13, 16, 9, 8, 6, 6, 2, 2, 8, 8, 6, 6, 10, 4, 12]
[13, 16, 9, 8, 6, 6, 6, 10, 4, 12]
[13, 16, 9, 8, 6, 6, 4, 12]
[13, 16, 9, 8, 6, 6]



### P4.PY

In [0]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

print(cool_runnings[0], cool_runnings[1], cool_runnings[2])
print(cool_runnings[3], cool_runnings[4], cool_runnings[5])
print(cool_runnings[6], cool_runnings[7], cool_runnings[8])
print(cool_runnings[9], 'YOLO', cool_runnings[11])

Feel the rhythm.
Feel the rhyme.
Get on up.
It's YOLO time!



## LIST_CHALLENGES

### P1.PY

In [0]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

# Does *individually* mean adding them one at a time and then printing them one at a time?
# Or building up to printing all three? I did the latter.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]
list1 = list1 + [tuple1[0]]
print(list1)
list1 = list1 + [tuple1[1]]
print(list1)
list1 = list1 + [tuple1[2]]
print(list1)

[6, 12, 9, 4, 10, 1, (15, 3)]
[6, 12, 9, 4, 10, 1, (15, 3), (6, 2)]
[6, 12, 9, 4, 10, 1, (15, 3), (6, 2), (1, 8)]



### P2.PY

In [0]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]

# Once you finish, print out each value **on its own line** in this format: "median = " etc.

# Median calculation. If # of items is even, median is the midpoint between the two middle values. 
# If it's odd, the median is the middle value.

sample = (sorted(sample))
# print(sample)
if len(sample) % 2 == 0:  # even # of items
	second_number = len(sample)/2
	first_number = second_number - 1
	my_median = (sample[int(first_number)] + sample[int(second_number)]) / 2
#	print(my_median)
else:
	 my_median = sample[sample(len)/2]  # odd # of items.

# Mode is halfway between the highest and lowest value
maximum = max(sample)
minimum = min(sample)
my_mode = (maximum + minimum) / 2
# print(my_mode)

# I'm going to cheat and import numpy

import numpy as np
my_var = np.var(sample)
my_sd = np.std(sample)

print(sample)
print(my_median)
print(my_mode)
print(my_var)
print(my_sd)

[6, 6, 8, 12, 19, 20, 24, 25, 28, 30]
19.5
18.0
75.75999999999999
8.704022058795577